
<ion-header>
  <ion-toolbar>
    <ion-title>fullScreenProfile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-user-actions-buttons [user]="user"></app-user-actions-buttons>
  <div (click)="api.onBack()" class="close">
    <img alt="close" src="../../assets/img/icons/psclose.png">
  </div>
  <ion-slides #slides>
    <ion-slide *ngFor="let usr of user.photos">
      <img *ngIf="!usr.isPrivate || user.photoStatus == 'allow' || user.myProfile" src="{{  usr.url }}">
      <div *ngIf="usr.isPrivate && user.photoStatus != 'allow' && !user.myProfile" >
        <img src="{{ user.noPhoto }}" alt="" class="privatePhoto" (click)="askPhoto()">
        <div class="privateText" *ngIf="!user.myProfile" [innerHTML]="user.privateText" (click)="askPhoto()"></div>
      </div>

      <img src="../../assets/img/privet.png" class="privatePhotoImageText" *ngIf="usr.isPrivate" alt="">

    </ion-slide>
  </ion-slides>
</ion-content>
