<ion-header>
  <ion-toolbar class="toolbar-color">
    <ion-title> מנוי VIP </ion-title>
    <div class="subtitle">
      תגדיל בפחות משקל ליום ותהנה כפול!
      ! VIP בוא ליהנות ממגוון הטבות פרימיום מיוחדות רק למנויי
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="big-icon"></div>
  <div class="big-sub-title">
    <div class="red"></div>
    <div class="white"></div>
    <div class="profile-changes"></div>
    <ul class="vip-bonuses">
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
    <div class="btns">
      <ion-button class="red" color="danger" expand="block"> red text</ion-button>
      <ion-button class="outline" expand="block" fill="outline"></ion-button>
    </div>
  </div>
</ion-content>
