.message-container {
  padding: 10px 15px;
  background-color: #fff;
  margin: 15px;
  border-radius: 6px
}

.time {
  font-size: 14px;
  color: gray
}

.content {
  padding-bottom: 30px;
  height: calc(100vh - 200px);
  overflow: auto;
}

.messages {
  padding-bottom: 40px;
}

.isRead {
  background-color: #e4e4e4;
}

.dialog-avatar {
  margin: 5px;
  line-height: 40px;
  background: left center no-repeat;
  background-size: 40px auto;
  text-align: center;
  width: 100%;
}
