
<ion-header>

  <ion-toolbar>
    <ion-title>recovery password</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <div class="container">

    <h5> {{ text?.description }}</h5>


    <div class="ion-item">
      <ion-input class="ion-input" (ionFocus)="onOpenKeyboard()" (ionBlur)="onCloseKeyboard()" [ngClass]="{'border-red': phone_err}" [(ngModel)]="phone" type="email" placeholder="{{ text?.emailLabel }}"></ion-input>
    </div>
    <div class="err">{{ phone_err }}</div>

    <div padding>
      <ion-button [disabled]="isClicked" color="danger" size="small" (click)="formSubmit()" expand="block" >{{text?.submit}}</ion-button>
    </div>

    <div padding>
      <ion-button color="danger" size="small" routerLink="/password-recovery" expand="block" >
       {{text?.changeBtn}}
      </ion-button>
    </div>
  </div>

</ion-content>
