<ion-card class="usr_profile" [class.d-none]="user?.hide" [class.vip]="user?.isVip">

  <app-user-actions-buttons [params]="params" [user]="user"></app-user-actions-buttons>

  <div class="user-section" [ngClass]="{'disabled': !user?.canWriteTo}">
    <div *ngIf="user?.isOnline == true" class="online"></div>
    <div class="right-icons">
      <div *ngIf="user?.isNew" class="new-user"></div>
      <div *ngIf="user?.isVerify" class="verify"></div>
      <div *ngIf="user?.isPaying" class="paying" [class.vip]="user?.isVip"></div>
    </div>
    <div tappable="tappable" *ngIf="user?.photo == '/images/no_photo_2.jpg' || user?.photo == '/images/no_photo_1.jpg'" (click)="itemTapped(user)" [ngStyle]="{ 'background-image': 'url('+ user?.photo + ')'}"
         class="avatar"></div>

    <div tappable="tappable" *ngIf="user?.photo != '/images/no_photo_2.jpg' && user?.photo != '/images/no_photo_1.jpg'" (click)="itemTapped(user)" [ngStyle]="{ 'background-image': 'url(' + user?.photo + ')'}"
         class="avatar"></div>
    <div class="wrap">
      <ion-card-title tappable="tappable" #tappable (click)="itemTapped(user)">
        <div class="row username-age">
          <div class="name">{{user?.username}}</div>
          <div class="age">{{user?.age}}</div>
        </div>
        <div class="row">
          <div class="location">{{user?.region_name}}</div>
          <div class="clear-both"></div>
        </div>
      </ion-card-title>
      <div class="clr"></div>
      <div *ngIf="user?.distance" class="distance">{{user?.distance}} ק"מ ממך </div>
    </div>

  </div>

</ion-card>
