.d-none {
  display: none;
}

ion-card {
  margin: 7px 5px;
  border-radius: 12px;
}

.username-age {
  height: 30px;
}

.vip {

  .avatar {
    background-color: unset;
  }

  ion-card-title {
    height: 91px;
    background: url(https://polydate.co.il/images/backgroundgold.jpg);
    text-align: right;
    color: #000;
    font-size: 35px;
  }

  .row {
    background: unset;
    color: black;
  }

  .user-section > .wrap {
    background: transparent;
  }

  .user-section:after {
    background: #f8d559;
    content: ' ';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 1;
  }

  .row.username-age {
    color: black;
  }

}

.wrap {
  //background-color: black;
  color:white;

  //.location {
  //  float: right;
  //}
  .distance {
    margin-right: 8px;
  }
}

.age {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
  line-height: 32px;
  font-weight: bold;
}

.online {
  top: 9px;
  left: 155px;
  height: 12px;
  width: 12px!important;
  background-color: #45d362;
  position: absolute;
  border-radius: 100%;
}

.card-md {
  width: calc(56% - 20px);
  float: left;
}

.card-ios {
  width: calc(55% - 23.6px);
  float: left;
}

.new-user{
  background: url(../../../assets/img/icons/new.png) no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  background-size: cover;
  left: 8px;
  top: 2px;
  z-index: 99;
}

.user-section > img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.long-name{
  font-size: 16px !important;
  margin: 0 0 0 -2px;
  padding: 0!important;
}

.name {
  font-size: 24px;
  font-weight: bold;
  padding-right: 5px;
  margin-right: 2px;
  line-height: 31px;
  max-height: 31px;
  overflow: hidden;
  float: right;
}

.location {
  font-size: 20px;
  padding-right: 5px;
  clear: both;
}

.ion-card-title {
  height: 91px;
  background: #ededed;
  text-align: right;
  color: #000;
  font-size: 35px;
}




ion-card-title {
  height: 62px;
  text-align: right;
}

#mobmsg {
  background: url(https://www.polydate.co.il/images/main/send-msg.png) center no-repeat;
  width: 37px;
  height: 37px;
  background-size: contain;
}

#add-green {
  background: url(../../../assets/img/icons/fav-red.png) center no-repeat;
  width: 37px;
  height: 37px;
  background-size: contain;
}
#remove-green {
  background: url(../../../assets/img/icons/cap.png) center no-repeat;
  width: 37px;
  height: 37px;
  background-size: contain;
}

#like-red {
  background: url(../../../assets/img/icons/like-red.png) center no-repeat;
  width: 37px;
  height: 37px;
  background-size: contain;
}

#cap {
  background: url(../../../assets/img/icons/cap.png) center no-repeat;
  width: 37px;
  height: 37px;
  background-size: contain;
}

#unblock {
  background: url(../../../assets/img/icons/unblock.png) center no-repeat;
  width: 37px;
  height: 37px;
  background-size: contain;
}

.verify {
  background: url(../../../assets/img/icons/verify.png) center no-repeat;
  height: 49px;
  width: 50px;
  position: absolute;
  bottom: 107px;
}


.user-section {
  border: 1px solid #404040;
  border-radius: 12px;
}


.distance {
  font-weight: bold;
  line-height: 14px;
  direction: rtl;
  font-size:14px;
  margin-top: 65px;
}

ul.profile-btn {
  height: 47px;
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 18px;
  padding: 23px 0;
}

ul.profile-btn li {
  margin-left: 15%;
  float: none;
  margin: 0 auto;
}

ul.profile-btn .btn {
  margin-left: 3%;
  width: 30%;
  float: left;
}

ul.profile-btn .btn div {
  font-size: 12px;
  text-align: center;
}

.profile-btn li:last-child {
  margin: 0;
}

.user-section {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.user-section > .wrap {
  background: #ededed;
  border-radius: 12px;
  width: 58%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 33px;
  padding: 0 10px;
}

.usr_profile .avatar {
  width: 79%;
  height: 190px;
  background-position: left;
  background-size: cover;
  border-radius: 11px 0px 0px 11px;
}

#video-chat{
  background: url(../../../assets/img/video/camera.png) center 6px no-repeat;
  width: 20px;
  height: 20px;
  background-size: 14px;
  background-color: rgba(0,0,0,.6);
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
}
.card-md + ion-card, .page-hello-ionic .card-ios + ion-card {
  margin-top: 0;
}

.row {
  background-color: #ededed;
  color: black;
  font-size: 23px;
  display: block;
  width: fit-content;
  height: fit-content;
}

ion-card.vip {
  //border: 2px solid #f1c722;
  box-shadow: 1px -1px 6px 1px;
  z-index: 1;
}



.vip .user-section > .wrap {
  background: #f8d559;
  box-shadow: inset -2px 1px 13px 0px black;
  border-radius: 0;
}

.vip.usr_profile .avatar {
  box-shadow: inset 7px -2px 13px 0px black;
}

.vip .user-section > .wrap {
  background: #f8d559;
  box-shadow: inset -4px -1px 13px 0px black;
}

.user-section > .wrap {
  border-radius: 0;
}

.vip ion-card-title {
  background: transparent;
}
