
ul.profile-btn {
  margin: 0;
  color: black;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  position: absolute;
  z-index: 99;
  top: 7px;
  right: 12px;
  list-style: none;
  zoom: 0.9;
}

ul.profile-btn li {
  width: 50px;
  padding-top: 87%; /* 1:1 Aspect Ratio */
  border: 3px solid red;
  border-radius: 50%;
  background-size: 78% !important;
  background-position: 6px 3px!important;
  background-color: #fff!important;
  background-repeat: no-repeat;

}
ul.profile-btn.vip li {
  background-color: #c9171700!important;
  border: 3px solid #c1a135fc;
}


.vip #mobmsg {
  background-color:  #ffd42e !important;
}

ul.profile-btn .btn {
  margin: 7px 0;
}

ul.profile-btn .btn div {
  font-size: 12px;
  text-align: center;
}

.profile-btn li:last-child {
  margin: 0;
}


#mobmsg {
  background: url(../../../assets/img/icons/send-msg.png) center no-repeat;
  filter: drop-shadow(1px 2px 4px gray);
  background-position: 7px 6px !important;
}
#remove-green, #add-green {
  background-position: 5.4px 6px !important;
}

#add-green {
  background: url(../../../assets/img/icons/fav-red.png) center no-repeat;
}
#remove-green {
  background: url(../../../assets/img/icons/cap.png) center no-repeat;
}

#like-red {
  background: url(../../../assets/img/icons/like-red.png) center no-repeat;
}

#cap {
  background: url(../../../assets/img/icons/cap.png) center no-repeat;
}

#unblock {
  background: url(../../../assets/img/icons/unblock.png) center no-repeat;
}

.addVerify {
  background: rgba(233, 232, 229, 0.8);
  border-radius: 50%;
}


.addVerify .addVerify-image {
  background-image: url(../../../assets/img/icons/add-verify.png);
}

ul.profile-btn li.addVerify-image {
  background-position: 6px 7px !important;
}
